/** COLORS **/
.cgray { color: gray }
.clgray { color: #BBB }
.cred { color: #D12F19 }
.cgreen { color: #4a2 }
.cdark { color: #444 }

/** COMMON CLASSES **/
.prepend-top-10 { margin-top:10px }
.prepend-top-20 { margin-top:20px }
.prepend-left-10 { margin-left:10px }
.prepend-left-20 { margin-left:20px }
.append-right-10 { margin-right:10px }
.append-right-20 { margin-right:20px }
.append-bottom-10 { margin-bottom:10px }
.append-bottom-15 { margin-bottom:15px }
.append-bottom-20 { margin-bottom:20px }
.inline { display: inline-block }
.center { text-align: center }

.underlined-link { text-decoration: underline; }
.hint { font-style: italic; color: #999; }
.light { color: #888 }

.slead {
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: normal;
  line-height: 24px;
}

.tab-content {
  overflow: visible;
}

pre {
  &.clean {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  &.well-pre {
    border: 1px solid #EEE;
    background: #f9f9f9;
    border-radius: 0;
    color: #555;
  }
}

.dropdown-menu > li > a {
  text-shadow: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: $bg_primary;
  color: #FFF
}

.str-truncated {
  @include str-truncated;
}

/** FLASH message **/
.author_link {
  color: $link_color;
}

.help li { color:$style_color; }

.back-link {
  font-size: 14px;
}

table a code {
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.loading {
  margin: 20px auto;
  height: 40px;
  color: #555;
  font-size: 32px;
  text-align: center;
}

span.update-author {
  display: block;
  color: #999;
  font-weight: normal;
  font-style: italic;
  strong {
    font-weight: bold;
    font-style: normal;
  }
}

.user-mention {
  color: #2FA0BB;
  font-weight: bold;
}

.field_with_errors {
  display: inline;
}

.line_holder {
  &:hover {
    td {
      background: #FFFFCF !important;
    }
  }
}

p.time {
  color: #999;
  font-size: 90%;
  margin: 30px 3px 3px 2px;
}

.highlight {
  text-shadow: none;
}

.highlight_word {
  border-bottom: 2px solid #F90;
}

.thin_area{
  height: 150px;
}

// Fixes alignment on notes.
.new_note {
  label {
    text-align: left;
  }
}

// Fix issue with notes & lists creating a bunch of bottom borders.
li.note {
  img { max-width:100% }
  .note-title {
    li {
      border-bottom:none !important;
    }
  }
}

.markdown {
  img {
    max-width: 100%;
  }
}

.wiki_content code, .readme code{
  background-color: inherit;
}

.team_member_show {
  td:first-child {
    color: #aaa;
  }
}

.rss-icon {
  img {
    width: 24px;
    vertical-align: top;
  }

  strong {
    line-height: 24px;
  }
}

.supp_diff_link,
.show-all-commits {
  cursor: pointer;
}

.git_error_tips {
  @extend .col-md-6;
  text-align: left;
  margin-top: 40px;
  pre {
    background: white;
    border: none;
    font-size: 12px;
  }
}

.error-message {
  padding: 10px;
  background: #C67;
  margin: 0;
  color: #FFF;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.no-ssh-key-message {
  padding: 10px 0;
  background: #C67;
  margin: 0;
  color: #FFF;
  margin-top: -1px;
  text-align: center;

  a {
    color: #fff;
    text-decoration: underline;
  }

  .links-xs {
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
}

.warning_message {
  border-left: 4px solid #ed9;
  color: #b90;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffe6;
  padding-left: 20px;

  &.centered {
    text-align: center;
  }
}

.gitlab-promo {
  a {
    color: #aaa;
    margin-right: 30px;
  }
}

.milestone {
  &.milestone-closed {
    background: #eee;
  }
  .progress {
    margin-bottom: 0;
    margin-top: 4px;
  }
}

h1.http_status_code {
  font-size: 56px;
  line-height: 100px;
  font-weight: normal;
  color: #456;
}

.control-group {
  .controls {
    span {
      &.descr {
        position: relative;
        top: 2px;
        left: 5px;
        color: #666;
      }
    }
  }
}

img.emoji {
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.chart {
  overflow: hidden;
  height: 220px;
}

.navless-container {
  margin-top: 20px;
}

.description-block {
  @extend .light-well;
  @extend .light;
  margin-bottom: 10px;
}

table {
  td.permission-x {
    background: #D9EDF7 !important;
    text-align: center;
  }
}

.dashboard-intro-icon {
  float: left;
  font-size: 32px;
  color: #AAA;
  padding: 5px 0;
  width: 50px;
  min-height: 100px;
}

.broadcast-message {
  padding: 10px;
  text-align: center;
  background: #555;
  color: #BBB;
}

.broadcast-message-preview {
  @extend .broadcast-message;
  margin-bottom: 20px;
}

.btn-sign-in {
  margin-top: 7px;
  text-shadow: none;
}

.side-filters {
  fieldset {
    margin-bottom: 15px;
  }
}

@media (max-width: $screen-xs-max) {
  .container .content { margin-top: 20px; }
}

.wiki .highlight, .note-body .highlight {
  margin-bottom: 9px;
}
